/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 100px;
  width: auto;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
@page {
  size: A4;
}


.body {
  font-family: "Helvetica", sans-serif;
}


.title {
  background-image: url(../images/apple-pie.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; 
    height:800px;

    position: relative;
    align: center;
    background-position: 0, 0;



  
  font-size: 2em;
  text-align: center;
  Transform: uppercase;
  color: white;

  line-height: 12;
  
}



.section1 {
  font-size: 35px; /* Set the font size to 10 pixels */
  line-height: 1.5em; /* Set the line height to 3.5 times the font size */
  font-weight: 200;
color: black;

}


.section2 {
  font-size: 25px; /* Set the font size to 10 pixels */
  line-height: 1.5em; /* Set the line height to 3.5 times the font size */
  font-weight: 200;
color: black

}


.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 150px;
    align-items: center;

}

.p {
  padding-top: 50px;
}